<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bingyuege.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>冰阅阁</name>
  <description>一款多功能阅读APP，支持书源导入与交互阅读</description>
  <author email="catgopii@gmail.com" href="https://github.com/TYQ2005">冰阅阁开发团队</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <!-- 移除了所有图标配置，Cordova 将使用默认图标 -->
  </platform>
</widget>
